REACT_APP_ACCESS_TOKEN_AUTH=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5NjIwNmU1MDYxMjdhY2FlMjU4NTQ2MDA3N2VhMTRmOSIsIm5iZiI6MTcyMjEwMzUyOS4xMTQwNSwic3ViIjoiNjY5ZThiMzY2NzkzMDMxN2RmZjM3NmU0Iiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.ST3hPNsOLRtdIBiRglvH_xQB381JK4KGx1itavpTyj0
REACT_APP_BASE_URL=https://api.themoviedb.org/3